.form-fieldset() {
  position: relative;

  width: 100%;
  margin-left: 0;
  margin-right: 0;
  // padding-top: 40px;

  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  border: none;

  legend {
    width: 100%;

    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;

    text-align: center;
    color: #d22856;
  }

  @media (min-width: @tablet-width) {
    margin-left: 20px;
    margin-right: 20px;

    border: 2px solid #e5e5e5;
    background-color: transparent;

    legend {
      position: static;
      width: auto;
      padding-top: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.contest-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contest-form__label {
  color: @feature-color;
}

.contest-form__input {
  font-size: 18px;
}

.contest-form__features-title {
  color: @feature-color;
}

.contest-form__features-item label {
  font-size: 18px;
}

.contest-form__comment-input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
}

.contest-form__legend {
  .container();
  order: 6;
}

.contest-form__legend-required-sybmol {
  color: @feature-color;
}

.contest-form__names-form {
  padding-bottom: 45px;

  order: 0;
}

.contest-form__achievements-form {
  padding-top: 40px;
  padding-bottom: 40px;

  order: 1;

  @media (min-width: @tablet-width) {
    order: 4;
  }
}

.contest-form__contacts-form {
  order: 2;

  @media (min-width: @tablet-width) {
    order: 3;
    margin-bottom: 20px;
  }
}

.contest-form__app-form {
  order: 3;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.contest-form__comment-form {
  margin-bottom: 20px;
  order: 4;
}

.contest-form__submit-form {
  margin-bottom: 20px;
  order: 5;
}
