.contacts__title {
  font-weight: 200;
  font-size: 24px;
}

.contacts__suggest {
  color: @primary-strong-color;
  font-size: 18px;
  font-weight: 700;
}

.contacts__link {
  color: @feature-color;
  font-weight: 200;
  font-size: 24px;
}

.contacts__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
  }
}
