.contest-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contest-form__label {
  color: @feature-color;
}

.contest-form__input {
  font-size: 18px;
}

.contest-form__features-title {
  color: @feature-color;
}

.contest-form__features-item label {
  font-size: 18px;
}

.contest-form__comment-input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
}

.contest-form__legend {
  .container();
  order: 6;
}

.contest-form__legend-required-sybmol {
  color: @feature-color;
}

.contest-form__names-form {
  padding-bottom: 45px;

  order: 0;

  // @media (max-width: @tablet-width) {
  //   width: 100%;
  // }

  // @media (min-width: @desktop-width) {
  //   width: 45%;
  // }
}

.contest-form__achievements-form {
  padding-top: 40px;
  padding-bottom: 40px;

  order: 1;
}

.contest-form__contacts-form {
  order: 2;
}

.contest-form__app-form {
  order: 3;
}

.contest-form__comment-form {
  margin-bottom: 20px;
  order: 4;
}

.contest-form__submit-form {
  margin-bottom: 20px;
  order: 5;
}
