.contacts-form {
  .form-fieldset();

  legend {
    display: none;
  }

  @media (min-width: @tablet-width) {
    legend {
      display: block;
    }
  }
}

.contacts-form__label {
  display: block;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contacts-form__label-text {
  display: block;
  margin-bottom: 5px;
}

.contacts-form__input-wrapper {
  display: flex;
}

.contacts-form__input {
  box-sizing: border-box;

  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;

  border: 2px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .contacts-form__input + .contacts-form__input-icon {
    width: 60px;
    height: 60px;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center center;
  }

  .contacts-form__input[name="email"] + .contacts-form__input-icon {
    background-image: url("../img/icon-mail-colored.svg");
  }

  .contacts-form__input[name="phone"] + .contacts-form__input-icon {
    background-image: url("../img/icon-phone-colored.svg");
  }
}
