@features_color: #000000;

.features {
  background-color: @bg-secondary-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  list-style: none;

  text-align: center;
}

.features__item {
  .container();
}

.features__item-text {
  line-height: 24px;
}

.features__presentation {
  height: 274px;

  text-align: center;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-position: calc(50vw - 77px) 0;
}

.features__presentation-image {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.features__item-image--desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.features__item-title {
  margin: 0;

  margin-bottom: 14px;

  font-size: 18px;
  font-weight: 700;
  color: @features_color;
}

.features__item-text {
  margin: 0;

  margin-bottom: 32px;
}
