@features_color: #000000;

.features {
  .container();

  background-color: @bg-secondary-color;
}

.features__inner {
  position: relative;

  padding-top: 85px;

  @media (min-width: @tablet-width) {
    display: flex;

    padding-top: 75px;

    flex-direction: row-reverse;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  list-style: none;

  text-align: center;

  @media (min-width: @tablet-width) {
    min-width: 310px;
    margin-bottom: 0;

    text-align: left;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    margin-top: -78px;
    display: flex;
    justify-content: space-between;
  }
}

.features__item {
  position: relative;

  margin-bottom: 33px;

  @media (min-width: @desktop-width) {
    width: calc(100vw / 3);
    text-align: center;
  }
}

.features__presentation {
  height: 274px;

  text-align: center;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-position: calc(50vw - 98px) 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 160px auto;
  }

  @media (min-width: @tablet-width) {
    min-width: 310px;

    margin-top: -74px;
    height: 481px;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 0 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 270px auto;
    }
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.features__presentation-image {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.features__item-image {
  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
  }
}

.features__item-image--desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.features__item-title {
  margin: 0;

  margin-bottom: 14px;

  font-size: 18px;
  font-weight: 700;
  color: @features_color;

  @media (min-width: @desktop-width) {
    min-height: 70px;

    margin-bottom: 17px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}

.features__item-text {
  margin: 0;

  line-height: 24px;

  @media (min-width: @desktop-width) {
    padding-right: 35px;
    padding-left: 35px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
  }
}
