@features_color: #000000;

.features {
  .container();

  background-color: @bg-secondary-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.features__wrapper {

}

.features__list {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  list-style: none;

  text-align: center;

  @media (min-width: @desktop-width) {
    .container-desktop();
    display: flex;
    justify-content: space-between;
  }
}

.features__item {
  @media (min-width: @desktop-width) {
    max-width: calc(100vw/3);
  }
}

.features__item-text {
  line-height: 24px;
}

.features__presentation {
  height: 274px;

  text-align: center;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-position: calc(50vw - 77px) 0;

  @media (min-width: @tablet-width) {
    width: 310px;
    background-position: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.features__presentation-image {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.features__item-image {
  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.features__item-image--desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.features__item-title {
  margin: 0;

  margin-bottom: 14px;

  font-size: 18px;
  font-weight: 700;
  color: @features_color;

  @media (min-width: @desktop-width) {
    min-height: 70px;
    font-size: 30px;
    font-weight: 700;
  }
}

.features__item-text {
  margin: 0;

  margin-bottom: 32px;
}
