.main-footer__wrapper {
  display: none;

  @media (min-width: @tablet-width) {
    .container();

    display: flex;

    height: 130px;

    align-items: center;
    justify-content: space-between;
  }
}

.main-footer__logo {
  width: 150px;

  color: @primary-color;
}

.main-footer__copyright {
  position: relative;

  width: 150px;
  padding-right: 30px;

  text-decoration: none;
  text-align:right;

  color: @primary-color;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 27px;
    height: 34px;
    background-image: url("../img/logo-htmlacademy.svg");
  }
}
