.main__photos {
  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }
}

.main__main-slogan {
  margin: 0;

  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
  }
}

.main__diagram-wrapper {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    .container();

    background-color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    display: block;

    background-color: #f2f2f2;
  }
}

.main__diagram {
  @media (min-width: @tablet-width) {
    padding-top: 95px;
    padding-left: 310px;
    height: 296px;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 238px 276px;
    background-position: 0 20px;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();

    height: 320px;

    padding-top: 127px;
    padding-left: 0;
  }
}

.main__diagram-title {
  display: block;

  line-height: 36px;
  margin-bottom: 11px;

  font-size: 30px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
    padding-left: 370px;
  }
}

.main__diagram-text {
  margin: 0;
  margin-bottom: 14px;
  padding-right: 10px;

  line-height: 24px;

  & br {
    display: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 370px;
    margin-bottom: 34px;

    font-size: 18px;
    line-height: 30px;

    & br {
      display: inline;
    }
  }
}

.main__diagram-link {
  color: #d22856;

  @media (min-width: @desktop-width) {
    padding-left: 370px;
    font-size: 18px;
  }
}

.main__reviews-slider {
  padding-top: 42px;
  margin-bottom: 86px;
  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    padding-top: 183px;
  }
}

.main__price-slider {
  .triangle-cut-lt(25px, #ffffff);

  @media (min-width: @tablet-width) {
    .container();
    .triangle-cut-lt(50px, #ffffff);

  }

  @media (min-width: @desktop-width) {
    .triangle-cut-lt(80px, #ffffff);
    padding-left: 0;
    padding-right: 0;
    padding-top: 70px;
  }
}

.main__map {
  .triangle-cut-top(70px, #ffffff);

  text-align: center;

  @media (min-width: @tablet-width) {
    .triangle-cut-top(130px, #ffffff);
  }

  @media (min-width: @desktop-width) {
    .triangle-cut-top(210px, #ffffff);
    margin-top: -200px;
  }
}

.main__bottom-slogan {
  margin: 0;

  margin-bottom: 45px;

  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 130px;

    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;

    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
    padding-left: 0;
    padding-right: 0;

    font-size: 18px;
    font-weight: 400;
  }
}

.main__features {
  .triangle-cut-lt(50px, #ffffff);

  @media (min-width: @desktop-width) {
    .triangle-cut-lt(95px, #ffffff);
  }
}

.main__contacts {
  .container();

  margin-bottom: 40px;
  padding-top: 45px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 200px;
    padding-top: 65px;
  }
}

.main__photo-page-slogan {
  padding-top: 45px;
  padding-bottom: 50px;

  @media (min-width: @tablet-width) {
    padding-top: 95px;
    padding-bottom: 70px;

    & br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 85px;
  }
}

.main__photo-page-slogan--bottom {
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    & br {
      display: block;
    }

    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 65px;
  }
}
