.main-nav-button {
  position: absolute;
  content: "";

  width: 50px;
  height: 50px;

  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;
  cursor: pointer;

  z-index: 2;
}

.main-nav__open {
  .main-nav-button;

  top: 20px;
  right: 20px;

  @media (min-width: @tablet-width) {
    top: 45px;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 50px;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }
}

.main-nav__close {
  .main-nav-button;

  right: 20px;
  top: 0;

  @media (min-width: @tablet-width) {
    top: 25px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 29px;
    left: 18px;

    width: 36px;
    height: 5px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

.main-nav__toggle1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 24px;
  height: 24px;

  padding: 0;

  background-color: rgba(255, 255, 255, 0);

  cursor: pointer;
  border: none;
}

.main-nav__inner {
  right: 0;
  top: 70px;

  display: flex;

  z-index: 2;

  @media (min-width: @desktop-width) {
    position: static;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-nav__logo {
  display: block;

  padding-left: 20px;

  line-height: 70px;

  font-size: 24px;
  font-weight: 200;

  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;

  @media (min-width: @tablet-width) {
    line-height: 110px;
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;

  flex-direction: column;
  align-items: stretch;

  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;

    margin-left: auto;

    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__item {
  line-height: 62px;

  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  @media (min-width: @desktop-width) {
    margin-left: 80px;

    &:first-child {
      margin-left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.main-nav__link {
  display: block;

  font-weight: 700;
  font-size: 18px;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: #ffffff;
  background-color: #283645;

  @media (min-width: @tablet-width) {
    font-weight: 700;
  }

  @media (min-width: @desktop-width) {
    line-height: 110px;

    font-weight: 400;
    text-transform: none;

    background-color: rgba(255, 255, 255, 0);
  }
}
