.main-footer {
  &--mobile-hidden {
    display: none;
  }

  @media (min-width: @tablet-width) {
    &--mobile-hidden {
      display: block;
    }
  }
}

.main-footer__wrapper {
  .container();

  @media (min-width: @desktop-width) {
    .container-desktop();
  }
}

.main-footer__body {
  display: flex;

  padding-top: 40px;
  padding-bottom: 40px;

  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    height: 50px;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    height: 170px;
  }
}

.main-footer__logo {
  width: 150px;
  margin-bottom: 38px;

  color: @primary-color;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__copyright {
  display: flex;
  align-items: center;

  color: currentColor;
  text-decoration: none;

  &::after {
    display: inline-block;
    content: "";
    width: 27px;
    height: 34px;
    background-image: url("../img/logo-htmlacademy.svg");
  }
}

.main-footer__copyright span {
  margin-right: 20px;
}

.main-footer__social-links {
  margin-bottom: 46px;
  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
