.main-header {
  color: #ffffff;
  background-color: #283645;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-header__logo-wrapper {
  border-bottom: 1px solid #000000;
}

.main-header__logo {
  .container();

  display: block;

  line-height: 70px;

  font-size: 24px;
  font-weight: 200;

  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
}
