.map__inner {
  height: 200px;
  overflow: hidden;
}

.map__inner iframe {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: -160px;
}

.map__image {
  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: inline-block;
    }
  }

  @media (min-width: @desktop-width) {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline-block;
    }
  }
}
