.offer tbody {
  .container();
}

.offer th {
  padding: 0;
  margin: 0;
}

.offer__title {
  color: #ffffff;
  background-color: #283645;
}

.offer__title--name {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.offer__title--base {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.offer__title--unlim {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.offer__feature-item--standard {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.offer__feature-item--unlim {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.offer__price-name {
  text-transform: uppercase;
}

.offer__price-value {
  font-size: 24px;
  font-weight: 200;
}
