.offer {
  width: 100%;

  background-color: #ffffff;
  table-layout: fixed;
  border-collapse: collapse;
}

.offer td {
  border: 2px solid #e7e7e7;
}

.offer__title {
  color: #ffffff;
  background-color: #293664;
}

.offer__feature-item {
  position: relative;

  min-height: 60px;

  padding-left: 20px;
  padding-right: 20px;

  &::after {
    position: absolute;
    content: "";

    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
  }
}
