.offer {
  width: 100%;

  background-color: #ffffff;
  table-layout: fixed;
  border-collapse: collapse;
}

.offer td,
.offer th {
  border: 2px solid #e7e7e7;
}

.offer__title {
  position: relative;

  padding-top: 15px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #293664;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;

    &:first-child {
      background-color: #f2f2f2;
      border-color: #f2f2f2;
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
    padding-top: 17px;
  }
}

.offer__title--hit::before {
  position: absolute;
  content: "";

  top: 0;
  left: 0;

  width: 74px;
  height: 73px;

  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    background-position: -10px -10px;
  }
}

.offer__title--hit::after {
  position: absolute;
  content: "Хит";

  left: 2px;
  top: 10px;

  width: 50px;
  height: 50px;

  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  transform: rotate(-45deg);

  @media (min-width: @tablet-width) {
    left: -2px;
    top: -2px;
  }
}

.offer__price-name {
  font-weight: 700;
}

.offer__price-value {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.offer__feature-item {
  position: relative;

  min-height: 60px;

  padding-left: 20px;
  padding-right: 20px;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 4px;
    padding-bottom: 10px;
  }

  &::after {
    position: absolute;
    content: "";

    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
  }
}

.offer_yes-no() {
  background-repeat: no-repeat;
  background-position: 95% 15px;

  @media (min-width: @tablet-width) {
    background-position: 50%;
  }
}

.offer__feature-item--yes {
  .offer_yes-no();

  background-image: url("../img/icon-yes-green.svg");
  background-size: 33px 24px;
}

.offer__feature-item--no {
  .offer_yes-no();

  background-image: url("../img/icon-no-red.svg");
  background-size: 28px 28px;
  background-position: 95% 10px;
}

.offer__feature-item-text {
  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
