.photos__header-item {
  margin-bottom: 20px;
}

.photos__list {
  .container();
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.photos__item {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    align-self: stretch;
    flex-direction: column;
  }
}

.photos__photo-wrapper {
  @media (min-width: @tablet-width) {
    height: 510px;
  }
}

.photos__photo {
  width: 100%;
}

.photos__photo--full {
  width: 100vw;

  @media (min-width: @tablet-width) {
    height: 100%;
    object-fit: cover;
  }
}

.photos__header-comment-wrapper {
  .container();
}

.photos__header-comment {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 18px;
  padding-right: 20px;
  background-color: @bg-secondary-color;
}

.photos__comment {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 18px;
  padding-right: 20px;
  background-color: @bg-secondary-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.photos__user-time-wrapper {
  margin-bottom: 5px;
}

.photos__comment-user {
  font-weight: 700;
  color: @primary-strong-color;
}

.photos__comment-time {
  font-weight: 200;
  font-size: 12px;

  text-transform: uppercase;
}

.photos__comment-like {
  position: relative;

  padding-left: 30px;

  font-size: 12px;
  text-transform: uppercase;
  color: @feature-color;

  &--header {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }
}

.photos__comment-like::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart-red.svg");
  background-repeat: no-repeat;
}

.photos__header-comment-top {
  margin-bottom: 4px;
}

.photos__comment-text {
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 24px;
}
