.photos__header-item {
  margin-bottom: 20px;
}

.photos__list {
  .container();
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.photos__item {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    align-self: stretch;
    flex-direction: column;
  }
}

.photos__photo {
  width: 100%;
}

.photos__photo--full {
  width: 100vw;
}

.photos__header-comment-wrapper {
  .container();
}

.photos__header-comment {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @bg-secondary-color;
}

.photos__comment {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @bg-secondary-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.photos__comment-user {
  font-weight: 700;
  color: @primary-strong-color;
}

.photos__comment-time {
  font-weight: 200;
  font-size: 12px;

  text-transform: uppercase;
}

.photos__comment-like {
  font-size: 12px;
  text-transform: uppercase;
  color: @feature-color;

  @media (min-width: @tablet-width) {
    margin-top: auto;
  }
}
