.price-slider {
  padding-bottom: 100px;

  background-color: @bg-secondary-color;

  @media (min-width: @tablet-width) {
    padding-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 94px;
  }
}

.price-slider__container {
  @media (min-width: @desktop-width) {
    .container-desktop();
  }
}

.price-slider__list {
  padding-bottom: 100px;

  background-color: #f2f2f2;
}
