.price-slider {
  background-color: @bg-secondary-color;
}

.price-slider__inner {
  padding-top: 90px;
  padding-bottom: 100px;

  @media (min-width: @tablet-width) {
    padding-top: 90px;
    padding-bottom: 73px;
  }

  @media (min-width: @desktop-width) {
    .container-desktop();
    padding-top: 78px;
    padding-bottom: 94px;
  }
}

.price-slider__list {
  padding-bottom: 100px;

  background-color: #f2f2f2;
}
