@reviews-slider_color: #000000;

.reviews-slider {
  padding-top: 42px;
  margin-bottom: 86px;

  @media (min-width: @tablet-width) {
    margin-bottom: 69px;
  }
}

.reviews-slider__title {
  margin: 0;

  margin-bottom: 12px;

  color: @primary-strong-color;
  font-weight: 700;
  font-size: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
    font-weight: 700;
  }
}

.reviews-slider__text {
  margin: 0;
  margin-bottom: 34px;

  font-size: 18px;
}

.reviews-slider__descr {
  display: none;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.reviews-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;

  .container();
}

.reviews-slider__item {
  display: none;

  text-align: center;

  &--1 {
    display: list-item;
  }

  @media (min-width: @tablet-width) {
    &--1 {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
