@reviews-slider_color: #000000;

.reviews-slider {
  color: @reviews-slider_color;
}

.reviews-slider__title {
  font-weight: bold;
  font-size: 18px;
}

.reviews-slider__text {
  color: @primary-color;
}
