@social-link-width: 50px;
@social-link-height: 50px;

.social-link(@img-w, @img-h, @border-color) {
  display: block;

  width: @social-link-width;
  height: @social-link-height;

  border: 2px solid @border-color;
  border-radius: 25px;
}

.social {
  display: flex;

  // margin-left: 0;
  // margin-right: 0;
  margin-top: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
  }
}

.social__link {
  position: relative;
  box-sizing: border-box;
  color: @feature-color;
}

.social__link--twitter {
  .social-link(18px, 14px, #e9ebec);
}

.social__link--facebook {
  .social-link(9px, 18px, #e9ebec);
}

.social__link--youtube {
  .social-link(15px, 13px, #e9ebec);
}

.social__icon {
  position: absolute;
  fill: #d22856;
}

.social__icon.social__twitter-icon {
  left: @social-link-width/2 - 9px;
  top: @social-link-height/2 - 9px;
}

.social__icon.social__facebook-icon {
  left: @social-link-width/2 - 5px;
  top: @social-link-height/2 - 11px;
}

.social__icon.social__youtube-icon {
  left: @social-link-width/2 - 7px;
  top: @social-link-height/2 - 10px;
}

.social__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}
